page-assigne {
h2{
    margin-top:3px;
}
h4{
    margin-top:5px;
    color:lightgray;
}
.circle {
  width: 500px;
  height: 500px;
  border-radius: 5%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000
}
ion-avatar img, ion-thumbnail img {
    display: inline;
    width: 3%;
    border-radius: 50%;
}
}
